/* Bulletins table */
.bileta-content {
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 223px;
    padding-bottom: 26px;
}

.bileta-content .bileta-column {
    padding-right: 40px;
    padding-left: 5px;
}

.bileta-content .column-left {
    padding-right: 18px;
    padding-left: 28px;
}

.bileta-content .bileta-column tr {
    height: 73px;
}
.bileta-content .bileta-column .table-hover>tbody>tr:hover {
    background-color: transparent;
    cursor: pointer;
}

.bileta-content {
    height:1380px;
}
.bileta-content .bileta-column .table-hover {
    height:1123px;
}

.bileta-content .bileta-column .table-hover>tbody .center {
    border: none;
}

.bileta-content .bileta-column .table-hover>tbody .center.checkcase {
    width: 65px;
    height: 0;
}

.bileta-content .bileta-column .table-hover>tbody input[type=checkbox].ace+.lbl {
    visibility: hidden;
}

.bileta-content .bileta-column .table>tbody>tr.active {
    border: 1px solid red;
    color: blue;
}

.bileta-content .bileta-column .table>tbody>tr.active>td {
    background-color: rgba(0, 255, 59, 0.3);
    background: rgba(0, 255, 59, 0.3);
}

.btngroup {
    padding-top: 30px;
    text-align: right;
}

#img1 {
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 40px;
    height: 40px;
}

.numCandidat {
    font-size: 25px;
    font-weight: bolder;
    height: 100%;
    color: black;
    z-index: 999999!important;
    display: none;
}

.bileta-table .active > .numCandidat {
    display: block;
}

.bileta-content .bileta-column .table>tbody>tr.isLitige>td {
    background-color: rgba(250, 165, 35, 0.3);
    background: rgba(250, 165, 35, 0.3);
}