{% extends "base.html.twig" %}
{% block title %}Résultats finales{% endblock %}

{% block breadcrumb %}
    <li class="active">Résultats finales</li>
{% endblock %}

{% block pageHeader %}
    <div class="row">
        <div class="col-md-6">
            <h1>Résultats finales</h1>
        </div>
        <div class="col-md-6">
            <form method="post" class="result-filer" action="{{ path('final_result_index') }}">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="ace-icon fa fa-check"></i>
                    </span>
                    <select name="civility" id="" class="form-control">
                        <option value="Homme" {{ (civility == "Homme") ? "selected" : "" }}>Lahy</option>
                        <option value="Femme" {{ (civility == "Femme") ? "selected" : "" }}>Vavy</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-lg">
                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span> Asehoy
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <div>
                <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Photo</th>
                            <th>Nom & prénom</th>
                            <th>Civilité</th>
                            <th>Nombre de vote reçu</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for candidat in candidats %}
                        <tr>
                            <td>{{ candidat.id }}</td>
                            <td class="text-center"><img src="{{ asset('assets/images/avatars/' ~ candidat.image )}}" alt="{{ candidat.lastName }}"></td>
                            <td>{{ candidat.lastName ~ ' ' ~ candidat.firstName }}</td>
                            <td>{{ candidat.sexe }}</td>
                            <td>{{ candidat.nbVote }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}