{% extends 'basefront.html.twig' %}

{% block title %}Lisitry ny mpiangona FJKM{% endblock %}

{% block pageHeader %}
    <h1>Lisitry ny mpiangona FJKM</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <form class="form-search" method="post">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

                        <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="ace-icon fa fa-check"></i>
                        </span>

                            <input type="text" name="search" value="{{ zSearch }}" class="form-control search-query"
                                   placeholder="Laharana, anarana,..."/>
                            <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btn-lg">
                                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                    Asehoy
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container">
                        {#<a class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"
                           href="{{ path('user_new') }}">
                            <font color="bleu">Anampy</font>
                        </a>#}
                    </div>
                </div>

                <!-- div.table-responsive -->

                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="35%">Anarana</th>
                            <th width="45%">Fanampiny</th>
                            <th width="10%">Laharana (Taloha)</th>
                            <th width="10%">Laharana (Vaovao)</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for user in toUser %}
                            <tr>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>
                                    <a href="#">
                                        {{ user.registryNumber }}
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        {{ user.newRegistryNumber }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block script %}
        {{ parent() }}
        <script src="{{ asset('assets/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.dataTables.bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('assets/js/buttons.flash.min.js') }}"></script>
        <script src="{{ asset('assets/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset('assets/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('assets/js/buttons.colVis.min.js') }}"></script>
        <script src="{{ asset('assets/js/dataTables.select.min.js') }}"></script>

        <!-- inline scripts related to this page -->
        <style>
            #img1 {
                border-radius: 50%;
                border: 2px solid #ffffff;
                width: 40px;
                height: 40px;
            }
        </style>
    {% endblock %}