{% extends 'base.html.twig' %}

{% set menuBulletin = true %}

{% block title %}Liste des bulletins{% endblock %}

{% block breadcrumb %}
    <li class="active">Liste des bulletins</li>
{% endblock %}

{% block pageHeader %}
    <h1>Liste des bulletins</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div>
                <table class="table table-striped table-bordered table-hover" id="dynamic-table">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Opérateur en charge</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for bulletin in bulletins %}
                        <tr>
                            <td><a href="{{ path('bulletin_edit', { 'id': bulletin.id }) }}">{{ bulletin.numero }}</a></td>
                            <td>{% if bulletin.operateur %}{{ bulletin.operateur.username }}{% endif %}</td>
                            <td>
                                {{ statusBadge(bulletin.status) | raw }}
                            </td>
                            <td>
                                <div class="hidden-sm hidden-xs action-buttons">
                                    {% if (bulletin.status == constant('my\\Bundle\\CommonBundle\\Entity\\Bulletin::STATUS_ATTRIBUE'))
                                        or (bulletin.status == constant('my\\Bundle\\CommonBundle\\Entity\\Bulletin::STATUS_AVALIDER'))
                                        or (bulletin.status == constant('my\\Bundle\\CommonBundle\\Entity\\Bulletin::STATUS_ROLLBACK'))
                                    %}
                                        <a class="green bulletinEdit-btn"  data-rel="tooltip" title="Modifier" data-id="{{ bulletin.id }}" href="javascript:void(0)">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            <input type="hidden" class="currentPath" value="{{ path('bulletin_edit', { 'id' : bulletin.id }) }}">
                                        </a>
                                    {% else %}
                                        <a class="primary"  data-rel="tooltip">
                                            <i class="ace-icon fa fa-ban bigger-130"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade bulletinEdit-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            {{ form_start(form, {'method': 'post', 'attr' : {'class' : 'formUser'}}) }}
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Bulletin n° span</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.operator) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Annuler</button>
                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}

    <script>
        $(function() {
            var bulletinEditModal = $('.bulletinEdit-modal');

            $('.bulletinEdit-btn').click(function() {
                $('form').attr('action', $(this).find('input').val());

                bulletinEditModal.modal();

                bulletinEditModal.on('hide.bs.modal', function () {
                    $('form').attr('action', "");
                });
            });
        });
    </script>
{% endblock %}
        