<div class="widget-box">
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="dialogs">
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-newspaper-o"></i>
                    </div>
                    <div class="infobox-data">
                        <span class="infobox-data-number">{{ stat.total }}</span>
                        <div class="infobox-content">Bulletins</div>
                    </div>
                </div>
                <div class="infobox infobox-orange">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-times"></i>
                    </div>
                    <div class="infobox-data">
                        <span class="infobox-data-number">{{ stat.nonTraite }}</span>
                        <div class="infobox-content">Non traités</div>
                    </div>
                </div>
                <div class="infobox infobox-pink">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-spinner"></i>
                    </div>
                    <div class="infobox-data">
                        <span class="infobox-data-number">{{ stat.enCours }}</span>
                        <div class="infobox-content">En cours</div>
                    </div>
                </div>
                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-check"></i>
                    </div>
                    <div class="infobox-data">
                        <span class="infobox-data-number">{{ stat.traite }}</span>
                        <div class="infobox-content">Traités</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>