{% for label, messages in app.flashes %}
    {% for message in messages %}
        <input type="hidden" class="notifyLabel" value="{{ label }}">
        <input type="hidden" class="notifyMessage" value="{{ message }}">
    {% endfor %}
{% endfor %}