{% extends "@FOSUser/layout.html.twig" %}

{% block name %}
    <span class="text-info">
        <h1>Login</h1>
    </span>
    <hr/>
{% endblock name %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <small class="pull-right">
        <a href="{{ path('fos_user_registration_register') }}">register new account?</a>
    </small>
{% endblock fos_user_content %}