{% extends 'basefront.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Désolé! La page que vous essayer d'acceder n'existe pas (ou plus)</h1>
        </div>
    </div>
{% endblock %}