{% extends 'basefront.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Désolé! Vous n'avez le droit nécessaire pour pouvoir accéder à cette page</h1>
        </div>
    </div>
{% endblock %}