{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

{% block link %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
{% endblock %}
{% block style %}
 <style>
 .fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;
    background-repeat:repeat;
  }
 </style>
{% endblock %}
{% block contente %}
        <div id="fullscreen_bg" class="fullscreen_bg"/>
        <div class="container">
            <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title" align="center">Register</div>
                        <div style="float:right; font-size: 85%; position: relative; top:-10px">
                        </div>
                    </div>
                    <div class="panel-body">
                        <form id="signupform" class="form-horizontal" role="form">

                            <div id="signupalert" style="display:none" class="alert alert-danger">
                                <p>Error:</p>
                                <span></span>
                            </div>
                            <div class="form-group">
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control placeholder-no-fix', 'placeholder':'Nom'} }) }}
                                {% for errorItem in form.username.vars.errors %}
                                    <span class="help-inline">{{ errorItem.message }}</span>
                                {% endfor %}
                            </div>
                        

                        <div class="form-group">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'E-mail'} }) }}
                            {% for errorItem in form.email.vars.errors %}
                                <span class="help-inline">{{ errorItem.message }}</span>
                            {% endfor %}
                        </div>
                    

                    <div class="form-group">
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Password'} }) }}
                            {% for errorItem in form.plainPassword.first.vars.errors %}
                                <span class="help-inline">{{ errorItem.message }}</span>
                            {% endfor %}
                    </div>
            
        <div class="form-group">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Repeat Password'} }) }}
                    {% for errorItem in form.plainPassword.second.vars.errors %}
                    <span class="help-inline">{{ errorItem.message }}</span>
                        {% endfor %}
            </div>

            <div class="form-group">
                <!-- Button -->
                <a class="btn btn-info btn-md" href="{{ path('fos_user_security_login') }}">Back to login</a>
                <button type="submit" id="register-submit-btn" class="btn btn-success">Valider</button>

            </div>
        </div>
    </div>
    </div>
 </div>
{% endblock %}
{{ form_rest(form) }}
{{ form_end(form) }}

