{% extends "base.html.twig" %}
{% block title %}Sampana FJKM{% endblock %}

{% block pageHeader %}
    <h1>Lisitry ny Sampana-Birao</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix">
                <div class="pull-right tableTools-container">
                    <a class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" href="{{ path('sampana-bureau_new') }}">
                        <font color="bleu">Hanampy</font>
                    </a>
                </div>
            </div>

            <!-- div.table-responsive -->

            <!-- div.dataTables_borderWrap -->
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Bureau</th>
                        <th>Sampana</th>
                        <th>Date création</th>
                        <th>Status</th>
                        <th>User</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                {{ item.bureau }}
                            </td>
                            <td>
                                {{ item.sampana }}
                            </td>
                            <td>
                                {{ item.created | date("M-d-Y") }}
                            </td>
                            <td>
                                {{ (item.status == 1)? "<span class='badge badge-success'>Actif</span>": "<span class='badge badge-danger'>Inactif</span>" }}
                            </td>
                            <td>
                                {{ item.user }}
                            </td>
                            <td>
                                <a class="btn fa fa-eye btn-success" href="{{ path('sampana-bureau_show', {'id': item.id}) }}"></a>
                                <a class="btn fa fa-pencil btn-warning" href="{{ path('sampana-bureau_edit', {'id': item.id}) }}"></a>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn fa fa-trash btn-danger" data-toggle="modal" data-target="#modal_{{ item.id }}">

                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="modal_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="exampleModalLabel">Confirmation</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Voulez-vous vraiment supprimer ce sampana-bureau?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                <a class="btn btn-primary" href="{{ path('sampana-bureau_delete', {'id': item.id}) }}">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <style>
        img {
            border-radius: 50%;
        }
    </style>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{asset('assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.flash.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.colVis.min.js')}}"></script>
    <script src="{{asset('assets/js/dataTables.select.min.js')}}"></script>
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        $(function() {
            $("#dynamic-table").dataTable();
        })
    </script>
{% endblock %}