{% extends "base.html.twig" %}
{% block pageHeader %}
    <h1>Manampy biraon'ny sampana</h1>
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_label(form.sampana, 'Sampana', {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.sampana, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.bureau, 'Birao', {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.bureau, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.status, 'Sata', {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.status, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.created, 'Daty nanendrena', {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.created, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.user, 'Mpiangona', {'label_attr': {'class': 'col-sm-3 control-label no-padding-right'}}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.user, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Enregistrer
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                        <a class="btn btn-purple" style="color:white;" type="button"  href="{{ path('sampana-bureau_index') }}">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                            Retour à la liste
                        </a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}