{% extends "base.html.twig" %}
{% block pageHeader %}
    <h1>Mampiseho birao-sampana</h1>
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="form-group col-md-6">
                <b>SAMPANA :</b>
                <div>
                    <span>{{ item.sampana | upper }}</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <b>BIRAO :</b>
                <div>
                    <span>{{ item.bureau | upper }}</span>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <b>MPIANGONA :</b>
                <div>
                    <span>{{ item.user | upper }}</span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <b>SATA :</b>
                <div>
                    <span>{{ (item.status == 1)?"Actif":"Inactif" }}</span>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <b>DATY NAMORONANA :</b>
                <div>
                    <span>{{ item.created | date("M-d-Y") }}</span>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <a class="btn btn-info" href="{{ path('sampana-bureau_edit', {'id': item.id}) }}">
                    <i class="ace-icon fa fa-pencil bigger-110"></i>
                    Modifier
                </a>
                <a class="btn btn-purple" style="color:white;" type="button"  href="{{ path('sampana-bureau_index') }}">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Retour à la liste
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock %}