<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-35678735-3"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-35678735-3');
		</script>

        {% include 'partial/fronthead.html.twig' %}

        {% block stylesheet %}
            <!-- bootstrap & fontawesome -->
            <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/font-awesome/4.5.0/css/font-awesome.min.css')}}"/>

            <!-- page specific plugin styles -->

            <!-- text fonts -->
            <link rel="stylesheet" href="{{asset('assets/css/fonts.googleapis.com.css')}}"/>

            <!-- ace styles -->
            <link rel="stylesheet" href="{{asset('assets/css/ace.min.css')}}" class="ace-main-stylesheet" id="main-ace-style"/>

            <!--[if lte IE 9]> <link rel="stylesheet" href="{{asset('assets/css/ace-part2.min.css')}}" class="ace-main-stylesheet" /> <![endif]-->
            <link rel="stylesheet" href="{{asset('assets/css/ace-skins.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/css/ace-rtl.min.css')}}"/>

            <!--[if lte IE 9]> <link rel="stylesheet" href="{{asset('assets/css/ace-ie.min.css')}}" /> <![endif]-->

            <!-- inline styles related to this page -->

            <!-- ace settings handler -->
            <script src="{{asset('assets/js/ace-extra.min.js')}}"></script>

            <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

            <!--[if lte IE 8]> <script src="{{asset('assets/js/html5shiv.min.js')}}"></script> <script src="{{asset('assets/js/respond.min.js')}}"></script> <![endif]-->
        {% endblock %}
	</head>

	<body class="no-skin">
    <div class="hide">
        {% for message in app.flashes("success")%}
            <p id="success">{{ message }}</p>
        {% endfor %}
        {% for message in app.flashes("error") %}
            <p id="error">{{ message }}</p>
        {% endfor %}
    </div>
            <div id="navbar" class="navbar navbar-default ace-save-state">
            {% block navbar %}
                {% include 'partial/frontnavbar.html.twig' %}
            {% endblock %}
            </div>

            <div class="main-container ace-save-state" id="main-container">
                <script type="text/javascript">
                        try{ace.settings.loadState('main-container')}catch(e){}
                </script>

                {#<div id="sidebar" class="sidebar  responsive ace-save-state">
                {% block sidebar %}
                    {% include 'partial/sidebar.html.twig' %}
                {% endblock %}
                </div>#}

                <div class="main-content">
                    <div class="main-content-inner">
                        <div class="breadcrumbs ace-save-state" id="breadcrumbs"></div>

                        <div class="page-content">
                            <div class="page-header">
                            {% block pageHeader %}
                               {# <h1>
                                    Dashboard
                                    <small>
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                        Tables
                                    </small>
                                </h1>#}
                            {% endblock %}
                            </div>
                            <!-- /.page-header -->
                            <div class="row">
                                    <div class="col-xs-12">
                                            <!-- PAGE CONTENT BEGINS -->
                                            {% block alert %}
                                                {% include 'partial/alert.html.twig' %}
                                            {% endblock %}

                                            {% block content %}
                                                {% include 'partial/content.html.twig' %}
                                            {% endblock %}
                                            </div>
                                            <!-- PAGE CONTENT ENDS -->
                                    </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.page-content -->                    
                </div><!-- /.main-content -->
                <div class="footer">
                    {% block footer %}
                        {% include 'partial/footer.html.twig' %}
                    {% endblock %}
                </div>
                <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                </a>
            </div><!-- /.main-container -->
            {% block script %}
                {% include 'partial/script.html.twig' %}
            {% endblock %} 

            <!-- inline scripts related to this page -->

            <script src="{{asset('assets/js/bootstrap-notify.js')}}"></script>
            <script type="text/javascript">
                $(function () {
                    /*if(!$.fn.DataTable.isDataTable("table")) {
                        $("table").dataTable();
                    }*/
                    if ($("#success").length != 0) {
                        $.notify({
                            title: '<strong>Message</strong><br>',
                            message: $("#success").html()
                        },{
                            type: 'success'
                        });
                    }

                    if ($("#error").length != 0) {
                        $.notify({
                            title: '<strong>Erreur!</strong>',
                            message: $("#error").html()
                        },{
                            type: 'warning'
                        });
                    }
                })
            </script>
	</body>
</html>
