<!DOCTYPE html>
<html lang="en">
	<head>
        {% include 'partial/head.html.twig' with {title: block('title')} %}

        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="{{asset('assets/font-awesome/4.5.0/css/font-awesome.min.css')}}"/>

        <!-- page specific plugin styles -->

        <!-- text fonts -->
        <link rel="stylesheet" href="{{asset('assets/css/fonts.googleapis.com.css')}}"/>

        <!-- ace styles -->
        <link rel="stylesheet" href="{{asset('assets/css/ace.min.css')}}" class="ace-main-stylesheet" id="main-ace-style"/>

        <!--[if lte IE 9]> <link rel="stylesheet" href="{{asset('assets/css/ace-part2.min.css')}}" class="ace-main-stylesheet" /> <![endif]-->
        <link rel="stylesheet" href="{{asset('assets/css/ace-skins.min.css')}}"/>
        <link rel="stylesheet" href="{{asset('assets/css/ace-rtl.min.css')}}"/>
        
        <!-- Animation & Custom Styles -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"></script>
        <script src="{{ asset('assets/css/custom-styles.css') }}"></script>

        <!--[if lte IE 9]> <link rel="stylesheet" href="{{asset('assets/css/ace-ie.min.css')}}" /> <![endif]-->

        <!-- inline styles related to this page -->

        <!-- ace settings handler -->
        <script src="{{asset('assets/js/ace-extra.min.js')}}"></script>
        

        <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

        <!--[if lte IE 8]> <script src="{{asset('assets/js/html5shiv.min.js')}}"></script> <script src="{{asset('assets/js/respond.min.js')}}"></script> <![endif]-->
        
        {% block stylesheet %}{% endblock %}
	</head>

	<body class="no-skin">
        {% include "components/flash.html.twig" %}
            <div id="navbar" class="navbar navbar-default ace-save-state">
            {% block navbar %}
                {% include 'partial/navbar.html.twig' %}
            {% endblock %}
            </div>

            <div class="main-container ace-save-state" id="main-container">
                <script type="text/javascript">
                        try{ace.settings.loadState('main-container')}catch(e){}
                </script>

                <div id="sidebar" class="sidebar  responsive ace-save-state">
                {% block sidebar %}
                    {% include 'partial/sidebar.html.twig' %}
                {% endblock %}
                </div>

                <div class="main-content">
                    <div class="main-content-inner">
                        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                            {% include 'partial/breadcrumb.html.twig' with {breadcrumb: block('breadcrumb')} %}
                        </div>

                        <div class="page-content">
                            <div class="page-header">
                            {% block pageHeader %}
                               {# <h1>
                                    Dashboard
                                    <small>
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                        Tables
                                    </small>
                                </h1>#}
                            {% endblock %}
                            </div>
                            <!-- /.page-header -->
                            <div class="row">
                                    <div class="col-xs-12">
                                            <!-- PAGE CONTENT BEGINS -->
                                            {% block alert %}
                                                {% include 'partial/alert.html.twig' %}
                                            {% endblock %}

                                            {% block content %}
                                                {% include 'partial/content.html.twig' %}
                                            {% endblock %}
                                            </div>
                                            <!-- PAGE CONTENT ENDS -->
                                    </div><!-- /.col -->
                            </div><!-- /.row -->
                        </div><!-- /.page-content -->                    
                </div><!-- /.main-content -->
                <div class="footer">
                    {% block footer %}
                        {% include 'partial/footer.html.twig' %}
                    {% endblock %}
                </div>
                <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
                </a>
            </div><!-- /.main-container -->
            {% block script %}
                {% include 'partial/script.html.twig' %}
            {% endblock %} 
	</body>
</html>
