
{% set depart = nbParPage * key %}
{% set numCandidat = (loop.index == 1) ? 1 : depart + 1 %}
<div class="row">
    <div class="col-xs-6 bileta-column column-left">
        <table class="bileta-table table table-hover">
            <tbody>
                {% for candidat in candidats|slice(depart, offset) %}
                    {% set trClass = '' %}
                    {% set checkboxCheck = '' %}
                    {% if candidat.user.id in checkedCandidats %}
                        {% set trClass = 'active' %}
                        {% set checkboxCheck = 'checked="checked"' %}
                    {% endif %}
                <tr class="{{ trClass }}" id="{{ numCandidat }}">
                    <td class="numCandidat checkcase">{{ numCandidat }}</td>
                    <td class="center checkcase">
                        <label class="pos-rel" for="vote_{{ candidat.user.id }}">
                            <input id="vote_{{ candidat.user.id }}" type="checkbox" name="candidat[]" class="ace" value="{{ candidat.user.id }}" {{ checkboxCheck }} />
                        </label>
                    </td>
                </tr>
                {% set numCandidat = numCandidat + 1 %}
                {% endfor %}                        
            </tbody>
        </table>
    </div>
    {% set secondDepart = depart + offset %}
    <div class="col-xs-6 bileta-column">
        <table class="bileta-table table table-hover">
            <tbody>
                {% for candidat in candidats|slice(secondDepart, offset) %}
                    {% set trClass = '' %}
                    {% set checkboxCheck = '' %}
                    {% if candidat.user.id in checkedCandidats %}
                        {% set trClass = 'active' %}
                        {% set checkboxCheck = 'checked="checked"' %}
                    {% endif %}
                <tr class="{{ trClass }}" id="{{ numCandidat }}">
                    <td class="numCandidat">{{ numCandidat }}</td>
                    <td class="center checkcase">
                        <label class="pos-rel" for="vote_{{ candidat.user.id }}">
                            <input id="vote_{{ candidat.user.id }}" type="checkbox" name="candidat[]" class="ace" value="{{ candidat.user.id }}" {{ checkboxCheck }} />
                        </label>
                    </td>
                </tr>
                {% set numCandidat = numCandidat + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>