{% extends 'base.html.twig' %}
{% set menuSampana = true %}
{% block pageHeader %}
    <h1 align="center">Sampana</h1>
{% endblock %}
{% block content %}
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offest-3 col-sm-12 col-xs-12">
                <li class="list-group-item disabled">
                    <table>
                    <tbody>
                        <tr>
                            <th>Id = </th>
                            <td>{{ sampana.id }}</td>
                        </tr>
                        <tr>
                            <th>Name = </th>
                            <td>{{ sampana.name }}</td>
                        </tr>
                        <tr>
                            <th>Code = </th>
                            <td>{{ sampana.code }}</td>
                        </tr>
                        <tr>
                            <th>Logo = </th>
                            <td>{{ sampana.logo }}</td>
                        </tr>
                        <tr>
                            <th>Slogan = </th>
                            <td>{{ sampana.slogan }}</td>
                        </tr>
                        <tr>
                            <th>Status = </th>
                            <td>{{ sampana.status }}</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                <br/>
                    {{ form_start(delete_form) }}
                    <div align="center" class="form-group" >
                    <a class="dt-button  btn btn-white btn-primary btn-bold" href="{{ path('admin_sampana_index') }}"> ❮ Annuler</a>
                    <a class="dt-button  btn btn-white btn-primary btn-bold" href="{{ path('admin_sampana_edit', { 'id': sampana.id }) }}">✎ Edit</a>
                        <input class="dt-button btn btn-white btn-primary btn-bold" type="submit" value=" ✖ Supprimer">
                    </div>
                    {{ form_end(delete_form) }}
                
                </ul>
            </li>
        </div>
    </div>
</div>
{% endblock %}
