{% extends 'base.html.twig' %}
{% set menuDashboard = true %}

{% block title %}Tableau de bord - FJKM{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bileta.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="active">Tableau de bord</li>
{% endblock %}

{% block pageHeader %}
    <h1 class="animated bounceIn">Tableau de bord</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-history blue"></i>
                        Statistique des votes
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="dialogs">
                            <div class="infobox infobox-blue">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-question"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">{{ votes.nbVote }}</span>
                                    <div class="infobox-content">Nb Votes</div>
                                </div>
                            </div>
                            <div class="infobox infobox-green">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-check"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">{{ votes.voteValide }}</span>
                                    <div class="infobox-content">Validés</div>
                                </div>
                            </div>
                            <div class="infobox infobox-orange">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-times"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">{{ votes.voteNul }}</span>
                                    <div class="infobox-content">Nuls</div>
                                </div>
                            </div>
                            <div class="infobox infobox-orange">
                                <div class="infobox-icon">
                                    <i class="ace-icon fa fa-ban"></i>
                                </div>
                                <div class="infobox-data">
                                    <span class="infobox-data-number">{{ votes.voteBlanc }}</span>
                                    <div class="infobox-content">Blanc</div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div>
        <div class="col-md-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-history blue"></i>
                        Historique
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="dialogs">
                        {% for history in histories %}
                            <div class="itemdiv dialogdiv">
                                <div class="user">
                                    <img alt="{{ history.operateur }}" src="{{ asset('assets/images/avatars/avatar1.png') }}" />
                                </div>
                                <div class="body">
                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span class="green">{{ history.created | date('d M Y H:i:s') }}</span>
                                    </div>

                                    <div class="name">
                                        <a href="#">{{ history.operateur }}</a>
                                    </div>
                                    <div class="text">Operation sur le bulletin n° {{ history.bulletin.numero }} {{ statusBadge(history.status) | raw }}</div>
                                </div>
                            </div>                            
                        {% endfor %}
                        </div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}