{#
<div class="alert alert-block alert-success">
<button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
</button>
<i class="ace-icon fa fa-check green"></i>
Welcome to
<strong class="green">
        Ace
        <small>(v1.4)</small>
</strong>,
лёгкий, многофункциональный и простой в использовании шаблон для админки на bootstrap 3.3.6. Загрузить исходники с <a href="https://github.com/bopoda/ace">github</a> (with minified ace js/css files).
</div>#}