<div class="breadcrumbs ace-save-state" id="breadcrumbs"> 
    <ul class="breadcrumb">    
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{ path('admin_dashboard') }}">Acceuil</a>
        </li>
        {% if breadcrumb is not empty %}
            {{ breadcrumb|raw }}
        {% endif %}
    </ul>
    <!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        {#<form class="form-search">
                <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
        </form>#}
    </div><!-- /.nav-search -->
</div>