<div class="footer-inner">
    <div class="footer-content">
        <span class="bigger-120">
            <span class="blue bolder">FJKM</span>
            Application &copy; 2018-2019
        </span>
    </div>
</div>