<div class="navbar-container ace-save-state" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>

    <div class="navbar-header pull-left">
        <a href="{{ path('accueil') }}" class="navbar-brand">
            <small>
                <i class="fa fa-leaf"></i>
                FJKM Amboniloha Jerosalemako
            </small>
        </a>
    </div>
</div>
<!-- /.navbar-container -->
<style>
    #img1 {
        border-radius: 50%;
        border: 2px solid #ffffff;
        width: 40px;
        height: 40px;
    }
</style>