
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta charset="utf-8"/>
<title>{% block title %}FJKM Amboniloha Jerosalemako{% endblock %}</title>

<meta name="description" content="overview &amp; stats"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
<link rel="shortcut icon" href="{{ asset('assets/images/avatars/favicon.png') }}" type="image/x-icon">