
<script type="text/javascript">
        try{ace.settings.loadState('sidebar');}catch(e){}
</script>
<ul class="nav nav-list" style="top: 0px;">
{% if is_granted('ROLE_ADMIN') %}
    <li {% if menuDashboard is defined %}class="active"{% endif %}>
        <a href="{{ path('dashboard') }}">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li {% if menuMpandray is defined %}class="active"{% endif %}>
        <a href="{{ path('admin_user_index') }}">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> Mpandray </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li {% if menuProvisionalResult is defined %}class="active"{% endif %}>
        <a href="{{ path('provisional_result_index') }}">
            <i class="menu-icon fa fa-folder"></i>
            <span class="menu-text"> Vokatra vonjimaika </span>
        </a>
        <b class="arrow"></b>
    </li>
    {#<li {% if menuResults is defined %}class="active"{% endif %}>
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-folder"></i>
            <span class="menu-text"> Vokatra </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>	
        <ul class="submenu">
            <li {% if menuProvisionalResult is defined %}class="active"{% endif %}>
                <a href="{{ path('provisional_result_index') }}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Vokatra vonjimaika </span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('final_result_index') }}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Vokatra ofisialy </span>
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>#}
    <li {% if menuCandidature is defined %}class="active"{% endif %}>
        <a href="{{ path('candidature_index') }}">
            <i class="menu-icon fa fa-folder"></i>
            <span class="menu-text"> Candidats </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li {% if menuBulletin is defined %}class="active"{% endif %}>
        <a href="{{ path('bulletin_index') }}">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> Bulletins </span>
        </a>
        <b class="arrow"></b>
    </li>
    <li {% if menuSampana is defined %}class="active"{% endif %}>
        <a href="{{ path('admin_sampana_index') }}">
            <i class="menu-icon fa fa-folder"></i>
            <span class="menu-text"> Sampana </span>
        </a>
        <b class="arrow"></b>
    </li>                  
{% endif %}
{% if is_granted('ROLE_OPERATEUR') %}
    <li {% if menuOperateur is defined %}class="active"{% endif %}>
        <a href="{{ path('operateur_index') }}">
            <i class="menu-icon fa fa-folder"></i>
            <span class="menu-text"> Opérateur </span>
        </a>
        <b class="arrow"></b>
    </li>
{% endif %}
{% if is_granted('ROLE_VALIDATEUR') %}
    <li {% if menuValidateur is defined %}class="active"{% endif %}>
        <a href="{{ path('validateur_index') }}">
            <i class="menu-icon fa fa-folder"></i>
            <span class="menu-text"> Validateur </span>
        </a>
        <b class="arrow"></b>
    </li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <li {% if menuParamettre is defined %}class="active"{% endif %}>
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-cog"></i>
            <span class="menu-text"> Paramettres </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>	
        <ul class="submenu">
            <li {% if menuAndraikitra is defined %}class="active"{% endif %}>
                <a href="{{ path('bureau_index') }}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Lisitry ny andraikitra </span>
                </a>
            </li>
            <li class="">
                <a href="{{ path('sampana-bureau_index') }}">
                    <i class="menu-icon fa fa-caret-right"></i>
                    <span class="menu-text"> Lisitra </span>
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
{% endif %}
</ul>
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>