{% extends "base.html.twig" %}
{% block title %}Sampana FJKM{% endblock %}

{% block pageHeader %}
    <h1>Lisitry ny Birao</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix">
                <div class="pull-right tableTools-container">
                    <a class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold" href="{{ path('bureau_new') }}">
                        <font color="bleu">Anampy</font>
                    </a>
                </div>
            </div>

            <!-- div.table-responsive -->

            <!-- div.dataTables_borderWrap -->
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>Anarana</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            <a href="{{ path('bureau_show', { 'id': item.id }) }}">
                                {{ item.name }}
                            </a>
                        </td>
                        <td>
                            <a class="btn fa fa-eye btn-success" href="{{ path('bureau_show', {'id': item.id}) }}"></a>
                            <a class="btn fa fa-pencil btn-warning" href="{{ path('bureau_edit', {'id': item.id}) }}"></a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn fa fa-trash btn-danger" data-toggle="modal" data-target="#modal_{{ item.id }}">

                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="modal_{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel">Confirmation</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Voulez-vous vraiment supprimer ce bureau?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a class="btn btn-primary" href="{{ path('bureau_delete', {'id': item.id}) }}">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>
    <style>
        img {
            border-radius: 50%;
        }
    </style>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="{{asset('assets/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.dataTables.bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.flash.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.colVis.min.js')}}"></script>
    <script src="{{asset('assets/js/dataTables.select.min.js')}}"></script>
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        $(function() {
            $("#dynamic-table").dataTable();
        })
    </script>
{% endblock %}