{% extends "base.html.twig" %}
{% block pageHeader %}
    <h1>Mampiseho birao</h1>
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">NOM :</label>
                    <div class="col-sm-9">
                        <span class="col-xs-10 col-sm-5">{{ item.name | upper }}</span>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <a class="btn btn-info" href="{{ path('bureau_edit', {'id': item.id}) }}">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Modifier
                        </a>
                        <a class="btn btn-purple" style="color:white;" type="button"  href="{{ path('bureau_index') }}">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                            Retour à la liste
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}