<head>
    {% block title %}Login {% endblock %}
    {#{% include 'partial/head.html.twig' with {'title': 'Login'} %}#}
    {% include 'partial/head.html.twig' with {title: block('title')} %}

    {% block stylesheet %}
            <!-- bootstrap & fontawesome -->
            <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/font-awesome/4.5.0/css/font-awesome.min.css')}}"/>

            <!-- page specific plugin styles -->

            <!-- text fonts -->
            <link rel="stylesheet" href="{{asset('assets/css/fonts.googleapis.com.css')}}"/>

            <!-- ace styles -->
            <link rel="stylesheet" href="{{asset('assets/css/ace.min.css')}}" class="ace-main-stylesheet" id="main-ace-style"/>

            <!--[if lte IE 9]> <link rel="stylesheet" href="{{asset('assets/css/ace-part2.min.css')}}" class="ace-main-stylesheet" /> <![endif]-->
            <link rel="stylesheet" href="{{asset('assets/css/ace-skins.min.css')}}"/>
            <link rel="stylesheet" href="{{asset('assets/css/ace-rtl.min.css')}}"/>

            <!--[if lte IE 9]> <link rel="stylesheet" href="{{asset('assets/css/ace-ie.min.css')}}" /> <![endif]-->

            <!-- inline styles related to this page -->

            <!-- ace settings handler -->
            <script src="{{asset('assets/js/ace-extra.min.js')}}"></script>

            <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

            <!--[if lte IE 8]> <script src="{{asset('assets/js/html5shiv.min.js')}}"></script> <script src="{{asset('assets/js/respond.min.js')}}"></script> <![endif]-->
    {% endblock %}
</head>
{% block content %}
<body class="login-layout">
    
    {% trans_default_domain 'FOSUserBundle' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
        {% set currentRoute = app.request.get('_route') == "admin_login" ? "admin_login_check" : "fos_user_security_check" %}
        {% set loginpath = path(currentRoute) %}
        <form action="{{ loginpath }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">Fjkm</span>
                                <span class="white" id="id-text2">Application</span>
                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Company Name</h4>
                            </div>

                                <div class="space-6"></div>

                                <div class="position-relative">
                                    <div id="login-box" class="login-box visible widget-box no-border">
                                            <div class="widget-body">
                                                    <div class="widget-main">
                                                            <h4 class="header blue lighter bigger">
                                                                    <i class="ace-icon fa fa-coffee green"></i>
                                                                    Please Enter Your Information
                                                            </h4>

                                                            <div class="space-6"></div>

                                                            <form id="login-form" class="form" action="{{ path('fos_user_security_check') }}" method="post">
                                                                    <fieldset>
                                                                            <label class="block clearfix">
                                                                                    <span class="block input-icon input-icon-right">
                                                                                            <input type="text" name="_username" id="username" class="form-control" value="{{ last_username }}" required="required" autocomplete="username" />
                                                                                            <i class="ace-icon fa fa-user"></i>
                                                                                    </span>
                                                                            </label>

                                                                            <label class="block clearfix">
                                                                                    <span class="block input-icon input-icon-right">
                                                                                            <input type="password" name="_password" id="password" class="form-control" required="required" autocomplete="current-password"/>
                                                                                            <i class="ace-icon fa fa-lock"></i>
                                                                                    </span>
                                                                            </label>

                                                                            <div class="space"></div>

                                                                            <div class="clearfix">
                                                                                    <label class="inline">
                                                                                            <input type="checkbox" class="ace" id="remember_me" name="_remember_me" value="on"/>
                                                                                            <span class="lbl"> {{ 'security.login.remember_me'|trans }}</span>
                                                                                    </label>

                                                                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" value="{{ 'security.login.submit'|trans }}">
                                                                                            <i class="ace-icon fa fa-key"></i>
                                                                                            Login
                                                                                    </button>
                                                                            </div>

                                                                            <div class="space-4"></div>
                                                                    </fieldset>
                                                            </form>

                                                            <div class="social-or-login center">
                                                                    <span class="bigger-110">Or Login Using</span>
                                                            </div>

                                                            <div class="space-6"></div>

                                                            <div class="social-login center">
                                                                    <a class="btn btn-primary">
                                                                        <i class="ace-icon fa fa-facebook"></i>
                                                                    </a>

                                                                    <a class="btn btn-info">
                                                                        <i class="ace-icon fa fa-twitter"></i>
                                                                    </a>

                                                                    <a class="btn btn-danger">
                                                                        <i class="ace-icon fa fa-google-plus"></i>
                                                                    </a>
                                                            </div>
                                                    </div><!-- /.widget-main -->

                                                    <div class="toolbar clearfix">
                                                            <div>
                                                                    <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                                            <i class="ace-icon fa fa-arrow-left"></i>
                                                                            I forgot my password
                                                                    </a>
                                                            </div>

                                                            <div>
                                                                    <a href="#" data-target="#signup-box" class="user-signup-link">

                                                                            I want to register
                                                                            <i class="ace-icon fa fa-arrow-right"></i>
                                                                    </a>
                                                            </div>
                                                    </div>
                                            </div><!-- /.widget-body -->
                                    </div><!-- /.login-box -->

                                    <div id="forgot-box" class="forgot-box widget-box no-border">
                                            <div class="widget-body">
                                                    <div class="widget-main">
                                                            <h4 class="header red lighter bigger">
                                                                    <i class="ace-icon fa fa-key"></i>
                                                                    Retrieve Password
                                                            </h4>

                                                            <div class="space-6"></div>
                                                            <p>
                                                                    Enter your email and to receive instructions
                                                            </p>

                                                            <form>
                                                                    <fieldset>
                                                                            <label class="block clearfix">
                                                                                    <span class="block input-icon input-icon-right">
                                                                                            <input type="email" class="form-control" placeholder="Email" />
                                                                                            <i class="ace-icon fa fa-envelope"></i>
                                                                                    </span>
                                                                            </label>

                                                                            <div class="clearfix">
                                                                                    <button type="button" class="width-35 pull-right btn btn-sm btn-danger">
                                                                                            <i class="ace-icon fa fa-lightbulb-o"></i>
                                                                                            <span class="bigger-110">Send Me!</span>
                                                                                    </button>
                                                                            </div>
                                                                    </fieldset>
                                                            </form>
                                                    </div><!-- /.widget-main -->

                                                    <div class="toolbar center">
                                                            <a href="#" data-target="#login-box" class="back-to-login-link">
                                                                    Back to login
                                                                    <i class="ace-icon fa fa-arrow-right"></i>
                                                            </a>
                                                    </div>
                                            </div><!-- /.widget-body -->
                                    </div><!-- /.forgot-box -->

                                    <div id="signup-box" class="signup-box widget-box no-border">
                                            <div class="widget-body">
                                                    <div class="widget-main">
                                                            <h4 class="header green lighter bigger">
                                                                    <i class="ace-icon fa fa-users blue"></i>
                                                                    New User Registration
                                                            </h4>

                                                            <div class="space-6"></div>
                                                            <p> Enter your details to begin: </p>

                                                            <form>
                                                                    <fieldset>
                                                                            <label class="block clearfix">
                                                                                    <span class="block input-icon input-icon-right">
                                                                                            <input type="email" class="form-control" placeholder="Email" />
                                                                                            <i class="ace-icon fa fa-envelope"></i>
                                                                                    </span>
                                                                            </label>

                                                                            <label class="block clearfix">
                                                                                    <span class="block input-icon input-icon-right">
                                                                                            <input type="text" class="form-control" placeholder="Username" />
                                                                                            <i class="ace-icon fa fa-user"></i>
                                                                                    </span>
                                                                            </label>

                                                                            <label class="block clearfix">
                                                                                    <span class="block input-icon input-icon-right">
                                                                                            <input type="password" class="form-control" placeholder="Password" />
                                                                                            <i class="ace-icon fa fa-lock"></i>
                                                                                    </span>
                                                                            </label>

                                                                            <label class="block clearfix">
                                                                                    <span class="block input-icon input-icon-right">
                                                                                            <input type="password" class="form-control" placeholder="Repeat password" />
                                                                                            <i class="ace-icon fa fa-retweet"></i>
                                                                                    </span>
                                                                            </label>

                                                                            <label class="block">
                                                                                    <input type="checkbox" class="ace" />
                                                                                    <span class="lbl">
                                                                                            I accept the
                                                                                            <a href="#">User Agreement</a>
                                                                                    </span>
                                                                            </label>

                                                                            <div class="space-24"></div>

                                                                            <div class="clearfix">
                                                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                                                            <i class="ace-icon fa fa-refresh"></i>
                                                                                            <span class="bigger-110">Reset</span>
                                                                                    </button>

                                                                                    <button type="button" class="width-65 pull-right btn btn-sm btn-success">
                                                                                            <span class="bigger-110">Register</span>

                                                                                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                                                    </button>
                                                                            </div>
                                                                    </fieldset>
                                                            </form>
                                                    </div>

                                                    <div class="toolbar center">
                                                            <a href="#" data-target="#login-box" class="back-to-login-link">
                                                                    <i class="ace-icon fa fa-arrow-left"></i>
                                                                    Back to login
                                                            </a>
                                                    </div>
                                            </div><!-- /.widget-body -->
                                    </div><!-- /.signup-box -->
                            </div><!-- /.position-relative -->

                            {#<div class="navbar-fixed-top align-right">
                                    <br />
                                    &nbsp;
                                    <a id="btn-login-dark" href="#">Dark</a>
                                    &nbsp;
                                    <span class="blue">/</span>
                                    &nbsp;
                                    <a id="btn-login-blur" href="#">Blur</a>
                                    &nbsp;
                                    <span class="blue">/</span>
                                    &nbsp;
                                    <a id="btn-login-light" href="#">Light</a>
                                    &nbsp; &nbsp; &nbsp;
                             </div>#}
                        </div>
                  </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.main-content -->
  </div><!-- /.main-container -->
{% endblock %}
{% block script %}

   	<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{{asset('assets/js/jquery-2.1.4.min.js')}}"></script>

		<!-- <![endif]-->

		<!--[if IE]>
    <script src="{{asset('assets/js/jquery-1.11.3.min.js')}}"></script>
    <![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
			 $(document).on('click', '.toolbar a[data-target]', function(e) {
				e.preventDefault();
				var target = $(this).data('target');
				$('.widget-box.visible').removeClass('visible');//hide others
				$(target).addClass('visible');//show target
			 });
			});

			//you don't need this, just used for changing background
			jQuery(function($) {
			 $('#btn-login-dark').on('click', function(e) {
				$('body').attr('class', 'login-layout');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'blue');

				e.preventDefault();
			 });
			 $('#btn-login-light').on('click', function(e) {
				$('body').attr('class', 'login-layout light-login');
				$('#id-text2').attr('class', 'grey');
				$('#id-company-text').attr('class', 'blue');

				e.preventDefault();
			 });
			 $('#btn-login-blur').on('click', function(e) {
				$('body').attr('class', 'login-layout blur-login');
				$('#id-text2').attr('class', 'white');
				$('#id-company-text').attr('class', 'light-blue');

				e.preventDefault();
			 });

			});
		        </script>
            </body>

{% endblock %}

