{% extends 'base.html.twig' %}
{% set menuOperateur = true %}

{% block title %}Bileta n° {{ bulletin.numero }} FJKM{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bileta.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="active">Bileta n° {{ bulletin.numero }}</li>
{% endblock %}

{% block pageHeader %}
    <h1 class="animated bounceIn">Bileta n° {{ bulletin.numero }}</h1>
{% endblock %}
{% block content %}
    <form action="{{ path('operateur_save', { id : bulletin.id }) }}" method="post">
        <div class="row">
            <div class="col-xs-12 bileta-glcontent">
                <!-- PAGE CONTENT BEGINS -->
                {% set images = bulletin.image|json_decode() %}
                {% set checkedCandidats = bulletin.content|json_decode() %}
                {% set remainingCandidat = candidats | length %}
                {% set nbParPage = 30 %}
                {% set offset = nbParPage / 2 %}

                {% for key, image in images %}
                <!--PAGE{{ key }}-->
                <div class="bileta-content container-fluid" id="simple-table" style="background-image:url('{{ asset(image) }}')">
                    {% include "admin/bileta.html.twig" %}
                </div>
                <!--PAGE{{ key }}-->
                {% endfor %}
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        {#<button class="btn" type="reset" id="pass">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Passer
                        </button>#}
                        <button class="btn btn-danger litigation" type="button" id="litigation">
                            <i class="ace-icon fa fa-adjust bigger-110"></i>
                            Litige
                        </button>
                        <button class="btn btn-info save_vote" type="submit" id="save">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Enregistrer
                        </button>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div>

        <div class="modal fade litigation-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Déclarer une litige pour le bulletin n° {{ bulletin.numero }}</h4>
                    </div>
                    <div class="modal-body">
                        <textarea name="litigation" cols="30" rows="10" class="litigation form-control" placeholder="Description du litige"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Fermer</button>
                        <button class="btn btn-primary litigationSave" type="submit" disabled>Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{asset('assets/js/buttons.flash.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.colVis.min.js')}}"></script>
    
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        $(function($) {
            var active_class = 'active';
            var litigation_class = 'isLitige';
            var minLitigationDescription = 15;
            var litigation_modal = $('.litigation-modal');

            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table');
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }

            function checkVoteNumber() {
                var votes = [];
                $('table tr').each(function() {
                    if($(this).hasClass(active_class)) {
                        votes.push($(this).find('input[type=checkbox]').val());
                    }
                });

                return votes;
            }

            /***************/
            $('.show-details-btn').on('click', function(e) {
                e.preventDefault();
                $(this).closest('tr').next().toggleClass('open');
                $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            /***************/

            $('tr').click('click', function () {
                var checkbox = $(this).find('input[type=checkbox]');

                $(this).dblclick(function () {
                    $(this).addClass(litigation_class);
                    $(checkbox).prop('checked', true);
                });

                if($(this).hasClass(active_class)) {
                    $(checkbox).prop('checked', false);
                    $(this).removeClass(litigation_class);
                }
                else {
                    $(checkbox).prop('checked', true);
                }

                $(this).toggleClass(active_class);
            });
            
            /* LITIGATION */
            // Modal events
            $('.litigation').click(function() {
                litigation_modal.modal();
                $('form').attr('action', "{{ path('operateur_save', { id : bulletin.id, isLitigation : 'true' }) }}");                

                litigation_modal.on('hide.bs.modal', function () {
                    $('form').attr('action', "{{ path('operateur_save', { id : bulletin.id }) }}");
                    litigation_modal.find('textarea').val("");
                });
            });

            // Manage Litigation Save based on the description length
            $('.litigation').keyup(function() {
                if($(this).val().length >= minLitigationDescription)
                    $('.litigationSave').removeAttr('disabled');
                else
                    $('.litigationSave').attr('disabled', 'disabled');
            });
            
            $(".bileta-table").each(function () {
               var totalHeight = 0;
               $(this).find("tr").each(function () {
                   totalHeight += 75;
                   $(this).parents(".bileta-table").height(totalHeight);
               })
            });
    });
    </script>
{% endblock %}