{% extends 'base.html.twig' %}
{% set menuOperateur = true %}

{% block title %}Bulletin de vote{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bileta.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="active">Bulletin de vote</li>
{% endblock %}

{% block pageHeader %}
    <h1 class="animated bounceIn">Bulletin de vote</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
        {{ render(controller('my\\Bundle\\CommonBundle\\Controller\\BulletinController::bulletinStatistics')) }}      
        </div>
        <div class="col-md-12 text-center" style="margin-top: 25px">
            <a href="{{ path('operateur_index') }}" class="btn btn-default">
                <span class="ace-icon fa fa-refresh icon-on-right bigger-110"></span> Nouvelle Opération
            </a>
        </div>
    </div>
{% endblock %}