{% extends 'base.html.twig' %}
{% set menuCandidature = true %}

{% block title %}Modifer un candidat {% endblock %}
{% block breadcrumb %}
    <li class="active">Fanovana kandidatiora ho diakona</li>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/chosen.min.css')}}" />
{% endblock %}

{% block pageHeader %}
    <h1>Fanovana kandidatiora ho diakona :<span style="color: #dc143c; "> "{{ candidature.user.lastName }} {{ candidature.user.firstName }}"</span> </h1>
{% endblock %}

{% block content %}

    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form'} }) }}
        <div class="row">
            <!-- PAGE CONTENT BEGINS -->
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-bd">
                        <div class="panel-body">
                            {{ form_row(form._token) }}

                            {{ form_label(form.user , 'Mpandray') }}
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon 	fa fa-lightbulb-o"></i>
                                            </span>
                                {{ form_widget(form.user, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                            </div>

                            {{ form_label(form.nbVote , 'Isan\'ny vato azo') }}
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon fa fa-sort-numeric-asc"></i>
                                            </span>
                                {{ form_widget(form.nbVote, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                            </div>

                            {{ form_label(form.status , 'Sata') }}
                            <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="ace-icon 	fa fa-lightbulb-o"></i>
                                            </span>
                                {{ form_widget(form.status, {'attr': {'class': 'col-xs-10 col-sm-5'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Firaiketana
                </button>
                &nbsp; &nbsp; &nbsp;
                <a class="btn btn-purple" style="color:white;" type="button"  href="{{ path('candidature_index') }}">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Hiverina ho any amin'ny lisitra
                </a>
            </div>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
