{% extends 'base.html.twig' %}
{% set menuCandidature = true %}

{% block body %}
    <h1>Candidature</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidature.id }}</td>
            </tr>
            <tr>
                <th>Nbvote</th>
                <td>{{ candidature.nbVote }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if candidature.created %}{{ candidature.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if candidature.updated %}{{ candidature.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ candidature.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('candidature_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('candidature_edit', { 'id': candidature.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
