{% extends 'base.html.twig' %}

{% set menuValidateur = true %}

{% block title %}Bileta ho kiraina FJKM{% endblock %}

{% block breadcrumb %}
    <li class="active">Bileta ho kiraina</li>
{% endblock %}

{% block pageHeader %}
    <h1>Bileta ho kiraina</h1>
{% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            {{ render(controller('my\\Bundle\\CommonBundle\\Controller\\BulletinController::bulletinStatistics')) }}
        </div>
        <div class="col-xs-12 text-danger" style="margin-top: 25px">
            <p>Efa voakira avokoa ireo bileta rehetra</p>
        </div>
    </div>
{% endblock %}