{% extends 'base.html.twig' %}
{% set menuValidateur = true %}

{% block title %}Bileta n° {{ bulletin.numero }} FJKM{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bileta.css') }}">
{% endblock %}

{% block breadcrumb %}
    <li class="active">Bileta n° {{ bulletin.numero }}</li>
{% endblock %}

{% block pageHeader %}
    <h1>Bileta n° {{ bulletin.numero }}</h1>
    <h3>Opérateur: {{ operator.username }}{% if litigationComment != null %} | Litige: {{ litigationComment }}{% endif %} </h3>
        
{% endblock %}

{% block content %}
    <form action="{{ path('validateur_save', { id : bulletin.id }) }}" method="post">
        <input type="hidden" name="operateur_id" value="{{ operator.id }}" />
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                {% set images = bulletin.image|json_decode() %}
                {% set checkedCandidats = bulletin.content|json_decode() %}
                {% set bgColor = 'white' %}
                {% set nbParPage = 30 %}
                {% set offset = nbParPage / 2 %}
                {% if litigationComment != null %}
                    {% set bgColor = 'orangered' %}
                {% endif %}
                <div class="row" style='background-color:{{ bgColor }};'>
                    <div class="col-xs-12 bileta-glcontent">
                        <!-- PAGE CONTENT BEGINS -->
                        {% for key, image in images %}
                        <!--PAGE{{ key }}-->
                        <div class="bileta-content container-fluid" id="simple-table" style="background-image:url('{{ asset(image) }}');">
                            {% include "admin/bileta.html.twig" %}
                        </div>
                        <!--PAGE{{ key }}-->
                        {% endfor %}
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.span -->
                </div><!-- /.row -->
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                    {% if litigationComment != null %}
                        <button class="btn setToNull" type="button">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Mettre à nul
                        </button>
                    {% endif %}
                        <input type="hidden" name="rollback" value="0" />
                        <button class="btn btn-danger rollBackBtn" type="button">
                            <i class="ace-icon fa fa-adjust bigger-110"></i>
                            Remis à l'opérateur
                        </button>
                    {% if litigationComment == null %}
                        <button class="btn btn-info validateBtn" type="button">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Valider
                        </button>
                    {% endif %}
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div>
        <div class="modal fade voteNull-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Bulletin n° {{ bulletin.numero }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Confirmer vous l'annulation du présent bulletin de vote?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Non</button>
                        <button class="btn btn-primary voteNullSave" type="submit">OUI</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade rollBack-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Bulletin n° {{ bulletin.numero }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Confirmer vous la remise à l'Opérateur du présent bulletin de vote?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Non</button>
                        <button class="btn btn-primary rollBackBtn" type="submit">OUI</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade validation-modal" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Bulletin n° {{ bulletin.numero }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Confirmer vous la valdiation du présent bulletin de vote?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Non</button>
                        <button class="btn btn-primary voteSave" type="submit">OUI</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
    {{ parent() }}
    <script src="{{asset('assets/js/buttons.flash.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.html5.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.print.min.js')}}"></script>
    <script src="{{asset('assets/js/buttons.colVis.min.js')}}"></script>
    
    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function($) {
            var voteNulModal = $('.voteNull-modal'),
                validationModal = $('.validation-modal'),
                rollBackModal = $('.rollBack-modal');

            $('#rollback').click(function(){
                //$('input[name=rollback]').val(1);
                //$(this).parents('form').submit();
            });
            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                    var $source = $(source);
                    var $parent = $source.closest('table');
                    var off1 = $parent.offset();
                    var w1 = $parent.width();

                    var off2 = $source.offset();
                    //var w2 = $source.width();

                    if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                    return 'left';
            }

            /***************/
            $('.show-details-btn').on('click', function(e) {
                    e.preventDefault();
                    $(this).closest('tr').next().toggleClass('open');
                    $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
            });
            /***************/

            $('.rollBackBtn').click(function() {
                $('input[name=rollback]').val(1);
                rollBackModal.modal();

                rollBackModal.on('hide.bs.modal', function () {
                    $('input[name=rollback]').val(0);
                });
            });

            $('.validateBtn').click(function() {
                validationModal.modal();
            });

            $('.setToNull').click(function() {
                $('form').attr('action', "{{ path('validateur_save', { id : bulletin.id, isNull : 'true' }) }}");
                voteNulModal.modal();

                voteNulModal.on('hide.bs.modal', function () {
                    $('form').attr('action', "{{ path('validateur_save', { id : bulletin.id }) }}");
                });
            });

            $(".bileta-table").each(function () {
               var totalHeight = 0;
               $(this).find("tr").each(function () {
                   totalHeight += 75;
                   $(this).parents(".bileta-table").height(totalHeight);
               })
            });
    });
    </script>
{% endblock %}