{% extends "base.html.twig" %}

{% block title %}Hanamarina lisim-pifidianana{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bileta.css') }}">
{% endblock %}

{% block pageHeader %}
    <h1>Hanamarina lisim-pifidianana</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <form class="form-search" method="post">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="ace-icon fa fa-check"></i>
                            </span>
                            <input type="text" name="search" value="" class="form-control search-query" placeholder="Laharan'ny lisim-pifidianana"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-lg">
                                    <span class="ace-icon fa fa-search icon-on-right bigger-110"></span> Asehoy
                                </button>
                            </span>
                        </div>
                    </div>
                {% if result is defined and result != null %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-danger text-center">
                            <div class="alert alert-danger">
                                {{ result }}
                            </div>
                        </div>
                    </div>
                {% endif %}                    
                </div>
            </form>
        </div>
    </div>
    {% if result is not defined %}
        <div class="row">
            <div class="col-xs-12 bileta-glcontent">
                <!-- PAGE CONTENT BEGINS -->
                {% set images = bulletin.image|json_decode() %}
                {% set checkedCandidats = bulletin.content|json_decode() %}
                {% set remainingCandidat = candidats | length %}
                {% set nbParPage = 30 %}
                {% set offset = nbParPage / 2 %}

                {% for key, image in images %}
                <!--PAGE{{ key }}-->
                <div class="bileta-content container-fluid" id="simple-table" style="background-image:url('{{ asset(image) }}')">
                    {% include "admin/bileta.html.twig" %}
                </div>
                <!--PAGE{{ key }}-->
                {% endfor %}
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div>
    {% endif %}    
{% endblock %}
