{% extends 'base.html.twig' %}
{% set menuValidateur = true %}

{% block title %}Bileta n° {{ bulletin.numero }} FJKM{% endblock %}
{% block breadcrumb %}
    <li class="active">Bileta n° {{ bulletin.numero }}</li>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <style>
        .bileta-content{
            width:1024px;
            margin-left: auto;
            margin-right: auto;
            background-size: 100%;
            background-repeat: no-repeat;
            padding-top: 99px;
            padding-bottom: 26px;
        }

        .bileta-content .bileta-column{
            padding-right: 40px;
            padding-left: 5px;
        }

        .bileta-content .bileta-column tr{
            height: 73px;
        }
        .bileta-content .bileta-column .table-hover>tbody>tr:hover{
            background-color: transparent;
        }

        .bileta-content .bileta-column .table-hover{
            height:1318px;
        }

        .bileta-content .bileta-column .table-hover>tbody .center{
            border: none;
        }

        .bileta-content .bileta-column .table-hover>tbody .center.checkcase{
            width: 65px;
        }

        .bileta-content .bileta-column .table-hover>tbody input[type=checkbox].ace+.lbl{
            visibility: hidden;
        }

        .bileta-content .bileta-column .table>tbody>tr.active>td{
            background-color: rgba(0, 255, 59, 0.3);
            background: rgba(0, 255, 59, 0.3);
            color: rgba(0, 255, 59, 0.3);
        }

        .btngroup{
            padding-top: 30px;
            text-align: right;
        }
    </style>
{% endblock %}

{% block pageHeader %}
    <h1>Bileta n° {{ bulletin.numero }}</h1>
{% endblock %}
{% block content %}
    
{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}